$border: 1px solid var(--border-color);
$min-task-height: 50px;

@mixin float {
  background: var(--task-focused-background-color);
  border-color: var(--border-color);
  z-index: 10;

  .mui-input-base {
    border-color: transparent;
  }
}

.task {
  @include dimen(100%);
  @include flex(center);
  @include relative();

  background-color: var(--main-color);
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  margin-top: -2px;

  .task-input-base {
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    min-height: $min-task-height;
  }

  .mui-input-base {
    font-size: 14px;
    line-height: 20px;
  }

  &.focused {
    background-color: var(--task-focused-background-color);
    border-color: var(--border-color);

    &,
    & + .task {
      .task-input-base {
        border-color: transparent;
      }
    }
  }

  &:hover,
  &.focused {
    // input endAdornment
    .task-input-base .mui-icon-button {
      visibility: visible;
    }
  }

  &:not(.focused):hover {
    @include float;
  }

  &:first-child {
    .task-input-base {
      border-top-color: transparent;
    }
  }

  &:last-child {
    border-bottom-color: var(--border-color);
    .task-input-base {
      border-bottom-color: transparent;
    }
  }

  .toggle-completed {
    @include margin-x((10px, 5px));
  }

  .task-input-base {
    //input endAdornment
    .mui-icon-button {
      @include margin-x(5px);
      visibility: hidden;
    }
  }
}
