$border: 1px solid $border-color;
$min-task-height: 50px;
$mutiline-padding-y: 12px;

@mixin float {
  border-color: $border-color;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
    0 2px 6px 2px rgba(177, 204, 224, 0.149);
  z-index: 10;

  .mui-input-base {
    border-color: transparent;
  }
}

.task {
  @include dimen(100%);
  @include flex(center);
  @include relative();

  background-color: $primary-color;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  margin-top: -2px;

  &.focused {
    background-color: #f8f9fa;
    border-color: $border-color;
  }

  &.focused,
  &:hover {
    // input endAdornment
    .mui-input-base.multiline button {
      visibility: visible;
    }

    &,
    & + .task {
      .mui-input-base.mui-input-base {
        border-color: transparent;
      }
    }
  }

  &:not(.focused) {
    &:hover {
      @include float;
    }
  }

  &:nth-child(n + 2) {
    .mui-input-base {
      border-top-color: $border-color;
    }
  }

  &:last-child {
    border-bottom-color: $border-color;
  }

  .toggle-completed {
    @include margin-x((10px, 5px));
  }

  .mui-input-base.multiline {
    min-height: $min-task-height;

    @include padding-y(0px);

    //input endAdornment
    button {
      visibility: hidden;
    }

    > div:nth-child(1) {
      @include padding-y($mutiline-padding-y);

      + button {
        @include margin-x(5px);
      }
    }
  }
}

.todo-task {
  @include noSelect;
  @include textHighlight();

  &.dragging {
    @include float;

    border-radius: 12.5px;
    box-shadow: 0px 5px 10px #ccc;
    left: auto !important;
    right: 5px !important;
    overflow: hidden;
    width: calc(100% - 60px) !important;

    &:before {
      @include fixed(0, null, 0);
      @include sq-dimen(100%);

      content: '';
    }
  }
}

.completed-task {
  input,
  textarea {
    text-decoration: line-through;
  }
}
