.time-dropdown-button {
  // FIXME:
  background: var(--task-focused-background-color);
}

.time-dropdown-paper {
  > ul {
    padding: 0;
  }

  .mui-menu-item {
    &:nth-child(1) {
      color: var(--day-color); // FIXME:
    }
  }
}
