.task-list {
  @include dimen(100%, 100vh);
  @include flex($flex-direction: column);

  &.disabled {
    opacity: 0.3;

    &:after {
      @include fixed(0, null, 0);
      @include sq-dimen(100%);
      content: '';
      user-select: none;
      z-index: 100000;
    }
  }

  .task-list-header,
  .new-task {
    flex: 0 0 auto;
  }
}

.task-list-content {
  @include sq-dimen(100%);
  @include flex($flex-direction: column);
  max-height: calc(100vh - #{$header-height});
  overflow: hidden;
  z-index: 1;

  > .scroll-content {
    @include sq-dimen(100%);
    flex: 1 1 auto;
    overflow: auto;
  }
}
