.dropdown-button.dropdown-button {
  @include flex(center, space-between);

  font-size: inherit;
  text-transform: initial;
  padding: 0 0 0 10px;

  > span:nth-child(1) {
    // @include flex(center, space-between);
    div {
      @include text-overflow-ellipsis();
    }
  }
}

.dropdown-menu-paper {
  a {
    display: block;
  }
}
