.dropdown-button {
  &.dropdown-button {
    @include flex(center, space-between);
    font-size: inherit;
    text-transform: initial;
    padding: 0 0 0 10px;

    > span:nth-child(1) {
      div {
        @include text-overflow-ellipsis();
      }
    }
  }

  &.seletable-dropdown-button {
    background: var(--task-focused-background-color);
  }
}

.dropdown-menu-paper {
  @include dimen(100%);

  a {
    display: block;
  }
}

.selectable-dropdown-paper {
  &,
  > ul {
    @include flex(stretch, stretch, column);
  }

  .selectable-dropdown-scroll-content {
    overflow: auto;
  }
}
