.date-time-modal-paper.date-time-modal-paper {
  @include margin-x(15px);
  max-height: calc(100% - 80px);
  padding: 0 10px 10px;

  .row {
    @include flex(center);
    @include padding-x(8px);

    margin-top: 8px;
    min-height: 40px;

    > svg {
      margin-right: 8px;
    }
  }
}
