.date-time-modal-paper.date-time-modal-paper {
  @include sq-dimen(100%);
  @include margin-x(15px);
  max-height: 425px;
  max-width: 300px;

  .modal-scroll-content {
    padding: 0 15px 10px;
  }

  .calendar-content {
    @include padding-x(6px);
  }

  .row {
    @include flex(center, stretch);
    @include padding-x(8px);

    margin-top: 8px;
    min-height: 34px;

    > svg {
      margin-right: 8px;
    }

    .mui-dropdown-button {
      align-self: stretch;
    }
  }

  button {
    color: var(--text-secondary-color);
    text-transform: inherit;
  }
}
