.fullscreen-dialog-paper.fullscreen-dialog-paper {
  background-color: var(--main-color);
}

.fullscreen-diaglog-header {
  @include dimen(100%, $header-height);
  @include flex(center, flex-end);
  @include fake-border($borderWidth: 1px, $color: var(--main-light-color));
  @include padding-x(10px);

  .mui-icon-button {
    @include app-region-no-drag;
  }
}

.fullscreen-dialog-content {
  @include flex();
  @include sq-dimen(100%);

  overflow: hidden;

  .scroll-content {
    padding: 15px;
  }

  h4 {
    color: var(--text-color);
    margin-top: 0;
    font-size: 18px;
    font-weight: 500;
  }

  .fullscreen-dialog-section {
    margin-top: 20px;

    .fullscreen-dialog-section-title {
      font-weight: 500;
      font-size: 15px;
      margin-bottom: 5px;
    }

    .fullscreen-dialog-row {
      @include flex(center);
      @include padding-y(12px);

      border-bottom: 1px solid var(--border-color);
    }
  }
}
