.fullscreen-diaglog-header {
  @include dimen(100%, $header-height);
  @include flex(center, flex-end);
  @include fake-border($borderWidth: 1px, $color: #f1f3f4);
  @include padding-x(10px);
}

.fullscreen-dialog-content {
  @include sq-dimen(100%);
  padding: 15px;
  overflow: auto;

  h4 {
    margin-top: 0;
    font-size: 18px;
    font-weight: 500;
  }

  .fullscreen-dialog-section {
    margin-top: 20px;

    .fullscreen-dialog-section-title {
      font-weight: 500;
      font-size: 15px;
      margin-bottom: 5px;
    }

    .fullscreen-dialog-row {
      @include flex(center, space-between);
      @include padding-y(12px);

      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    }
  }
}
