.fullscreen-diaglog-header {
  @include dimen(100%, $header-height);
  @include flex(center, flex-end);
  @include fake-border($borderWidth: 1px, $color: #f1f3f4);
  @include padding-x(10px);
}

.fullscreen-dialog-content {
  @include sq-dimen(100%);
  padding: 15px;
  overflow: auto;

  > * {
    margin-bottom: 8px;
  }
}
