$defaultWidth: 47.5px;

.switch {
  @include noSelect;
  @include relative();

  cursor: pointer;
  width: $defaultWidth;

  .switch-bar {
    @include animate(background-color);
    @include dimen(100%, 0);
    @include relative();
    background-color: var(--border-color);
    border-radius: 50px;
    padding-bottom: 50%;
  }

  .switch-icon {
    @include animate(transform);
    @include absolute(0);
    @include dimen(50%, 100%);
    padding: 2.5px;
    transform: translateX(0);

    &:before {
      @include dimen(100%, 100%);
      content: '';
      background-color: #fff;
      border-radius: 50%;
      box-shadow: 0px 0px 6px darken(#fff, 50%);
      display: block;
    }
  }

  &.checked {
    .switch-bar {
      background-color: var(--accent-color);
    }
    .switch-icon {
      transform: translateX(100%);
    }
  }
}
