.mui-menu-item.mui-menu-item {
  @include padding-y(8px);

  font-size: inherit;

  > div {
    @include flex(center, space-between);
    flex: 1 1 auto;

    .text {
      flex: 1 1 auto;
      padding-right: 50px;
    }
  }
}
