.mui-modal-paper.mui-modal-paper {
  @include dimen(100%);
  @include margin-x(25px);

  background-color: var(--main-lighter-color);
  border-radius: 8px;
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
  max-width: 280px;
  padding: 0;

  .modal-scroll-content {
    max-height: 100%;
    padding: 15px 20px;
  }

  .modal-title {
    @include typeface('Nunito Sans', 700);
    color: var(--text-color);
    margin-bottom: 10px;
  }

  .modal-actions {
    @include flex(center, flex-end);
    flex: 0 0 auto;
    margin-top: 10px;

    button {
      @include typeface('Nunito Sans', 700);

      background: none;
      text-transform: initial;

      + button {
        color: var(--accent-dark-color);
        margin-left: 10px;
      }
    }
  }
}

.form-modal-error-message {
  @include typeface('Nunito Sans', 600);
  color: var(--error-color);
  font-size: 13px;
  margin-top: 3px;
  padding-left: 3px;
}
