.mui-modal-paper.mui-modal-paper {
  @include dimen(100%);
  @include margin-x(25px);

  max-width: none;
  padding: 15px 20px;

  .modal-title {
    @include typeface('Nunito Sans', 700);

    margin-bottom: 10px;
  }

  .modal-actions {
    @include flex(center, flex-end);

    margin-top: 10px;

    button {
      @include typeface('Nunito Sans', 600);

      background: none;
      text-transform: initial;

      + button {
        margin-left: 10px;
      }
    }
  }
}
