.app-region {
  @include absolute(0, null, 0);
  @include dimen(100%, var(--header-height));

  .simple-title-bar {
    @include sq-dimen(100%);
    @include app-region-drag;
    padding: 10px 0px 0px 10px;
    button {
      @include app-region-no-drag;
      z-index: $app-region-z-index;
    }
  }

  .app-region-drag {
    @include app-region-drag;
    @include sq-dimen(100%);
  }
}

body {
  > [role='dialog'],
  > [role='presentation'] {
    @include app-region-no-drag;
    z-index: $app-region-z-index !important;
  }
}
