.app-region {
  @include absolute(0, null, 0);
  @include dimen(100%, $header-height);

  > div {
    @include sq-dimen(100%);
    align-items: flex-start !important;

    > div:nth-child(1) {
      z-index: $app-region-z-index;
    }

    [data-platform='darwin'] & {
      > div {
        visibility: hidden;
      }
    }
  }
}

body {
  > [role='dialog'],
  > [role='presentation'] {
    @include app-region-no-drag;
  }
}
