.app-region {
  @include absolute(0, null, 0);
  width: 100%;

  .simple-title-bar {
    @include sq-dimen(100%);
    @include app-region-drag;
    padding: 10px 0px 0px 10px;
    button {
      @include app-region-no-drag;
      z-index: $app-region-z-index;
    }
  }

  // drawin
  .app-region-drag {
    @include app-region-drag;
    @include sq-dimen(100%);
  }
}

[data-platform^='win32'][data-title-bar^='native'] {
  .app-region {
    > div {
      @include relative();
      z-index: $app-region-z-index;
    }
  }

  .windows-title {
    @include flex(center);
    svg {
      @include sq-dimen(14px);
      margin-top: 1px;
      margin-right: 5px;
    }
  }
}

body {
  > [role='dialog'],
  > [role='presentation'] {
    @include app-region-no-drag;
    z-index: $app-region-z-index !important;
  }
}
