.mui-input-base.mui-input-base {
  font-size: inherit;
  min-height: 2.85em;
  padding-right: 10px;

  input,
  textarea {
    color: var(--text-color);
    outline: none;
    padding: 0;

    &:hover:not(:focus) {
      cursor: default;
    }
  }

  &.filled {
    @include textHighlight();

    background-color: var(--task-focused-background-color);
    padding-left: 10px;
  }

  &.bottom-border {
    border-bottom: 1px solid var(--border-color);
  }
}
