.mui-input-base {
  border-top: 1px solid transparent;
  font-size: inherit !important;
  min-height: 40px;
  padding-right: 10px;

  input,
  textarea {
    font-size: inherit;
    outline: none;
    padding: 0;

    &:hover:not(:focus) {
      cursor: default;
    }
  }

  &.filled {
    @include textHighlight();

    background-color: #f8f9fa;
    border-bottom: 1px solid $border-color;
    padding-left: 10px;
  }
}
