.todo-tasks-list-by-date {
  .todo-task {
    .task-due-date-button {
      display: none;
    }
  }

  .date-label {
    @include dimen(100%, 40px);
    @include flex(center);
    @include padding-x(20px);

    color: var(--text-color);

    &:after {
      @include typeface('Nunito Sans', 700);
      content: attr(data-label);
    }

    &[data-label^='Past'] {
      color: var(--error-color);
    }

    &[data-label^='Today'] {
      color: var(--accent-color);
    }

    & + .task .task-input-base:before {
      border-top-color: transparent;
    }
  }
}
