.keyboard-shortcuts {
  color: #202124;

  .keyboard-shortcuts-label {
    @include dimen(100%);
  }

  .keyboard-shortcuts-key {
    min-width: 100px;
    text-align: right;
    padding-left: 10px;
  }
}
