$height: 36px;

.task-details-view {
  .task-details-view-content > * {
    margin-bottom: 8px;
  }

  .mui-input-base {
    &.task-details-view-title-field {
      @include typeface('Nunito Sans', 600);
      font-size: 16px;

      textarea::placeholder {
        font-size: 14px;
      }
    }

    &.task-details-view-notes-field {
      $line-height: 20px;
      font-size: 14px;
      line-height: 20px;

      > div {
        min-height: $line-height * 3;
      }
    }
  }

  .row {
    @include flex(center, stretch);
    min-height: 46px;

    > svg {
      margin-right: 10px;
    }

    .mui-dropdown-button {
      background: var(--task-focused-background-color);
      min-height: $height;
      line-height: $height;
    }

    &.row-task-list {
      button {
        @include typeface('Nunito Sans', 600);
      }
    }

    &.row-date,
    &.row-subtask {
      button {
        @include typeface('Nunito Sans', 700);
      }
    }

    button {
      text-transform: initial;
      color: var(--text-secondary-color);
    }

    .task-deatails-due-date-button {
      @include dimen(100%);
      @include flex(center, space-between);
      @include noSelect;
      @include padding-x(15px);
      @include relative();

      align-self: stretch;
      border: 1px solid var(--border-color);
      border-radius: 3px;

      .date {
        color: var(--accent-dark-color);
        font-weight: 500;
      }

      button {
        background: none;
        padding: 0;
      }

      .task-deatails-due-date-clickable {
        @include absolute(0, null, 0);
        @include sq-dimen(100%);
        cursor: pointer;
      }
    }
  }
}

.task-details-view-dropdown-paper {
  &.task-details-view-dropdown-paper {
    max-height: $height * 5;
  }

  .mui-menu-item {
    height: $height;
    padding: 0px 10px;

    > div {
      flex-direction: row-reverse;

      .text {
        padding-right: 0;
        padding-left: 40px;

        + svg {
          @include absolute(null, null, 15px);
        }
      }
    }
  }
}
