*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100vh;
}

html {
  @include scrollbar;
  background-color: var(--main-color);
}

body {
  @include typeface();
  color: var(--text-secondary-color);
  font-size: 14px;
  margin: 0;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: inherit;
}

#nprogress {
  .bar {
    background: var(--accent-color);
    height: 3px;
  }

  .peg {
    box-shadow: 0 0 10px var(--accent-color), 0 0 5px var(--accent-color);
  }

  .spinner-icon {
    border-top-color: var(--accent-color);
    border-left-color: var(--accent-color);
  }
}
