*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100vh;
}

body {
  @include typeface();

  margin: 0;
  padding: 0;
  color: #5f6368;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: inherit;
}

#nprogress {
  .bar {
    background: $secondary-color;
    height: 3px;
  }

  .peg {
    box-shadow: 0 0 10px $secondary-color, 0 0 5px $secondary-color;
  }

  .spinner-icon {
    border-top-color: $secondary-color;
    border-left-color: $secondary-color;
  }
}
