@import './mixins/animation';
@import './mixins/background';
@import './mixins/border';
@import './mixins/flex';
@import './mixins/font';
@import './mixins/position';
@import './mixins/size';
@import './mixins/textOverflow';
@import './mixins/textHighlight';

@mixin app-region-drag {
  -webkit-app-region: drag;
}

@mixin app-region-no-drag {
  -webkit-app-region: no-drag;
}

@mixin noSelect {
  user-select: none;
}
