@import './mixins/flex';
@import './mixins/font';
@import './mixins/position';
@import './mixins/size';
@import './mixins/textOverflow';
@import './mixins/textHighlight';

@mixin fake-border(
  $position: bottom,
  $borderWidth: 1px,
  $color: #000,
  $width: 100%
) {
  background: linear-gradient(to left, $color 0, $color 100%);
  background-size: $width $borderWidth;
  background-repeat: no-repeat;
  background-position: center $position;
}

@mixin app-region {
  -webkit-app-region: drag;
}

@mixin noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
