:root {
  --header-height: 70px;
}

[data-title-bar^='native']:not([data-platform^='darwin']) {
  --header-height: 60px;
}

[data-platform^='win32'][data-title-bar^='native'] {
  --header-height: 90px;
}
