$button-height: 26px;

.task-list-header-dropdown-container {
  @include app-region-no-drag;
  overflow: hidden;

  .task-list-header-dropdown-label {
    color: #80868b;
    font-size: 10px;
    letter-spacing: 1.5px;
    margin-bottom: 2px;
    text-transform: uppercase;
    text-align: right;
    padding-right: 6px;
  }

  .mui-dropdown-button {
    @include dimen(100%, $button-height);
    @include typeface('Nunito Sans', 600);
    color: var(--text-color);
    font-size: 15px;

    &:not(:hover) {
      background-color: transparent;
    }
  }
}
