$height: 36px;

.task-details-view {
  .fullscreen-dialog-content .scroll-content > * {
    margin-bottom: 8px;
  }

  .mui-input-base.task-details-view-title-field {
    @include typeface('Nunito Sans', 600);
    font-size: 16px;
  }

  .task-details-view-row {
    @include flex(center);

    > :first-child {
      margin-right: 10px;
    }

    .dropdown-button {
      min-height: $height;
      line-height: $height;
      background: var(--task-focused-background-color);
    }

    &.row-task-list {
      button {
        @include typeface('Nunito Sans', 600);
      }
    }

    &.row-date,
    &.row-subtask {
      button {
        @include typeface('Nunito Sans', 700);
      }
    }

    button {
      text-transform: initial;
      color: var(--text-secondary-color);
    }
  }

  .mui-input-base.multiline {
    min-height: 48px; // TODO: may change
  }
}

.task-details-view-dropdown-paper {
  &.task-details-view-dropdown-paper {
    max-height: $height * 5;
  }

  .mui-menu-item {
    height: $height;
    padding: 0px 10px;

    > div {
      flex-direction: row-reverse;

      .text {
        padding-right: 0;
        padding-left: 40px;

        + svg {
          @include absolute(null, null, 15px);
        }
      }
    }
  }
}
