.todo-task {
  @include noSelect;
  @include textHighlight();

  &.dragging {
    @include padding-x((0px, 20px));

    border-radius: 12.5px;
    border: 1px solid var(--border-color);
    left: auto !important;
    right: 5px !important;
    width: calc(100% - 60px) !important;
    z-index: 1000;

    [data-theme^='light'] & {
      box-shadow: 0px 5px 10px #ccc;
    }

    .edit-task-button {
      display: none;
    }

    .toggle-completed {
      margin-left: 0;
    }
  }

  &.highlight-bottom-border {
    border-bottom: 2px solid var(--secondary-color);
  }
}
