.new-task {
  @include dimen(100%, 56px);
  @include flex(center);

  cursor: pointer;
  padding-right: 10px;

  .new-task-button {
    @include flex(center);
    @include margin-x(10px);

    border-radius: 50px;
    flex: 1 0 auto;

    &:hover {
      background-color: #f1f3f4;
    }

    .add-icon-button {
      background: none;
      margin-right: 5px;
    }

    div {
      font-weight: 500;
      margin-bottom: -0.05em;
    }
  }
}

.task-list-menu-paper {
  @include dimen(100%);

  .task-list-menu-title {
    @include padding-x(16px);

    font-size: 0.875em !important;
    height: 30px;
    line-height: 30px;
    outline: none;
  }
}
