.auth {
  @include flex(center, center, column);
  @include fixed(0, null, 0);
  @include sq-dimen(100%);

  background-color: var(--main-color);
  color: var(--text-color);
  padding: $padding-x;
  z-index: $app-region-z-index - 1;

  .logo {
    justify-self: flex-start;
  }

  h4 {
    margin-bottom: 100px;
  }

  form {
    @include dimen(100%);
    @include flex(center, center, $wrap: wrap);

    .mui-input-base {
      margin: 5px 0 15px;
    }
  }
}
