.task-list {
  @include dimen(100%, 100vh);
  @include flex($flex-direction: column);

  &.disabled {
    opacity: 0.3;

    &:after {
      @include fixed(0, null, 0);
      @include sq-dimen(100%);
      @include noSelect;

      content: '';
      z-index: 100000;
    }
  }
}

.task-list-header {
  @include dimen(100%, $header-height);
  @include flex(center, flex-end);
  @include fake-border($borderWidth: 1px, $color: var(--main-light-color));
  @include padding-x($padding-x);
  @include relative();

  .task-list-menu {
    @include app-region-no-drag;

    .task-list-menu-label {
      color: #80868b;
      font-size: 10px;
      letter-spacing: 1.5px;
      margin-bottom: 2px;
      text-transform: uppercase;
      text-align: right;
      padding-right: 6px;
    }

    button {
      @include typeface('Nunito Sans', 600);

      font-size: 15px;
      margin-right: 0;
      margin-left: auto;
    }
  }
}

.dropdown-button.task-list-dropdown-button {
  color: var(--text-color);
}

.dropdown-menu-paper.task-list-dropdown-paper {
  @include dimen(auto);
  overflow: hidden;

  .mui-menu-item {
    @include typeface('Nunito Sans', 500);
    letter-spacing: 0.2px;
  }
}

.task-list-content {
  @include dimen(100%, 100%);
  @include flex($flex-direction: column);

  max-height: calc(100vh - #{$header-height});
  overflow: hidden;
  z-index: 1;

  .task-list-scroll-content {
    flex: 1 1 auto;
    overflow: auto;
  }
}

.dropdown-list-container {
  &,
  [data-platform='darwin'] & .scroll-content {
    max-height: 200px;
  }
}

.completed-tasks-list {
  @include dimen(100%);
  @include flex($flex-direction: column);

  background-color: var(--main-color);
  flex: 0 0 auto;
  // margin-top: -2px;
  max-height: calc(100vh - #{$header-height});
  padding-bottom: 2px;
}

.completed-tasks-list-header {
  @include dimen(100%, 54px);
  @include flex(center, space-between);
  @include fake-border($borderWidth: 1px, $color: var(--main-light-color));
  @include typeface('Nunito Sans', 600);
  @include padding-x(($padding-x, 10px));

  border-top: 1px solid var(--border-color);
  cursor: pointer;
  flex: 0 0 auto;
}

.completed-tasks-list-content {
  @include flex();
  @include sq-dimen(100%);

  flex: 1 1 auto;
  overflow: hidden;
}
