.task-list {
  @include dimen(100%, 100vh);
  @include flex($flex-direction: column);

  &.disabled {
    opacity: 0.3;

    &:after {
      @include fixed(0, null, 0);
      @include sq-dimen(100%);
      @include noSelect;

      content: '';
      z-index: 100000;
    }
  }

  .task-list-header,
  .new-task {
    flex: 1 0 auto;
  }
}

.task-list-content {
  @include dimen(100%, 100%);
  @include flex($flex-direction: column);
  max-height: calc(100vh - #{$header-height});
  overflow: hidden;
  z-index: 1;

  > .scroll-content {
    flex: 1 1 auto;
    height: 100%;
    overflow: auto;
  }
}

.todo-tasks-list-sort-by-date {
  .date-label {
    @include dimen(100%, 40px);
    @include flex(center);
    @include padding-x(20px);

    color: var(--text-color);

    &:after {
      @include typeface('Nunito Sans', 700);
      content: attr(data-label);
    }

    &[data-label^='Past'] {
      color: var(--error-color);
    }

    &[data-label^='Today'] {
      color: var(--accent-color);
    }
  }
}

$completed-task-list-header-height: 54px;

.completed-tasks-list {
  @include dimen(100%, $completed-task-list-header-height);
  @include relative();
  flex: 1 0 auto;
  z-index: $text-highlight-z-index;
}

.completed-tasks-list-inner {
  @include absolute(null, 0, 0);
  @include animate(transform);
  @include flex($flex-direction: column);
  @include dimen(100%);

  background-color: var(--main-color);
  max-height: calc(100vh - #{$header-height});
  padding-bottom: 2px;
  transform: translateY(calc(100% - #{$completed-task-list-header-height}));
  z-index: 10;
}

.completed-tasks-list-header {
  @include dimen(100%, $completed-task-list-header-height);
  @include flex(center, space-between);
  @include fake-border($borderWidth: 1px, $color: var(--main-color-diff));
  @include typeface('Nunito Sans', 600);
  @include padding-x(($padding-x, 10px));

  border-top: 1px solid var(--border-color);
  cursor: pointer;
  flex: 1 0 auto;
}

.completed-tasks-list-content {
  @include flex();
  @include sq-dimen(100%);
  overflow: hidden;
  padding-bottom: 1px; // avoid scroll shown when there is only one completed task
}
