.task-list {
  @include flex($flex-direction: column);
}

.task-list-header {
  @include dimen(100%, $header-height);
  @include flex(center, flex-end);
  @include fake-border($borderWidth: 1px, $color: #f1f3f4);
  @include padding-x($padding-x);

  .task-list-menu {
    .task-list-menu-label {
      color: #80868b;
      font-size: 10px;
      letter-spacing: 1.5px;
      margin-bottom: 2px;
      text-transform: uppercase;
      text-align: right;
      padding-right: 6px;
    }

    .task-list-title {
      min-height: 24px;
      line-height: 24px;
    }

    .task-list-title-button {
      @include flex(center);

      padding: 0 0 0 7px;
      font-size: inherit;
      text-transform: initial;
    }
  }
}

.task-list-content {
  max-height: calc(100vh - #{$header-height});
  overflow: auto;
  padding-bottom: 10px;
}
